:root {
    --account-card-primary-accent-color: rgb(255, 255, 255);
    --account-card-primary-background-color: rgb(0, 84, 155);
    --account-card-primary-text-color: rgb(255, 255, 255);
    --account-card-secondary-accent-color: rgb(255, 255, 255);
    --account-card-secondary-background-color: rgb(72, 80, 89);
    --account-card-secondary-text-color: rgb(255, 255, 255);
    --action-card-accent-color: rgb(255, 255, 255);
    --action-card-background-color: rgb(0, 84, 155);
    --action-card-text-color: rgb(255, 255, 255);
    --android-gesture-bar-color: rgb(255, 255, 255);
    --body-text-alert-color: rgb(215, 61, 9);
    --body-text-completed-color: rgb(59, 135, 18);
    --body-text-deposit-color: rgb(59, 135, 18);
    --body-text-highlight-color: rgb(59, 135, 18);
    --body-text-primary-color: rgb(7, 21, 35);
    --body-text-rejected-color: rgb(215, 61, 9);
    --body-text-secondary-color: rgb(98, 110, 122);
    --body-text-theme-color: rgb(0, 84, 155);
    --button-corner-radius: 8px;
    --card-corner-radius: 10px;
    --card-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    --card-title-text-color: rgb(7, 21, 35);
    --chart-colors-0-background: rgb(241, 246, 251);
    --chart-colors-0-graphic: rgb(78, 147, 208);
    --chart-colors-1-background: rgb(238, 241, 246);
    --chart-colors-1-graphic: rgb(47, 88, 152);
    --chart-colors-10-background: rgb(245, 245, 245);
    --chart-colors-10-graphic: rgb(140, 140, 140);
    --chart-colors-11-background: rgb(246, 241, 238);
    --chart-colors-11-graphic: rgb(152, 89, 43);
    --chart-colors-12-background: rgb(247, 245, 241);
    --chart-colors-12-graphic: rgb(153, 140, 86);
    --chart-colors-13-background: rgb(242, 242, 237);
    --chart-colors-13-graphic: rgb(93, 97, 37);
    --chart-colors-14-background: rgb(237, 247, 245);
    --chart-colors-14-graphic: rgb(29, 160, 129);
    --chart-colors-15-background: rgb(237, 247, 245);
    --chart-colors-15-graphic: rgb(48, 106, 22);
    --chart-colors-16-background: rgb(245, 246, 237);
    --chart-colors-16-graphic: rgb(135, 149, 30);
    --chart-colors-17-background: rgb(242, 241, 235);
    --chart-colors-17-graphic: rgb(97, 79, 0);
    --chart-colors-2-background: rgb(248, 242, 249);
    --chart-colors-2-graphic: rgb(174, 99, 187);
    --chart-colors-3-background: rgb(237, 243, 241);
    --chart-colors-3-graphic: rgb(29, 105, 87);
    --chart-colors-4-background: rgb(238, 247, 240);
    --chart-colors-4-graphic: rgb(44, 160, 71);
    --chart-colors-5-background: rgb(243, 240, 245);
    --chart-colors-5-graphic: rgb(107, 74, 135);
    --chart-colors-6-background: rgb(253, 243, 237);
    --chart-colors-6-graphic: rgb(217, 110, 32);
    --chart-colors-7-background: rgb(248, 239, 239);
    --chart-colors-7-graphic: rgb(170, 60, 60);
    --chart-colors-8-background: rgb(251, 243, 243);
    --chart-colors-8-graphic: rgb(214, 108, 108);
    --chart-colors-9-background: rgb(240, 240, 240);
    --chart-colors-9-graphic: rgb(69, 69, 69);
    --dashboard-page-background-color: rgb(227, 231, 237);
    --default-button-border-color: rgb(238, 241, 245);
    --default-button-border-disabled-color: rgba(238, 241, 245, 0.3);
    --default-button-border-focused-color: rgb(0, 84, 155);
    --default-button-border-pressed-color: rgb(0, 84, 155);
    --default-button-color: rgb(238, 241, 245);
    --default-button-disabled-color: rgba(238, 241, 245, 0.3);
    --default-button-focused-color: rgba(0, 84, 155, 0.1);
    --default-button-pressed-color: rgba(0, 84, 155, 0.2);
    --default-button-text-color: rgb(0, 84, 155);
    --default-button-text-disabled-color: rgba(0, 84, 155, 0.3);
    --default-button-text-focused-color: rgb(0, 84, 155);
    --default-button-text-pressed-color: rgb(0, 84, 155);
    --divider-alternative-color: rgba(98, 110, 122, 0.75);
    --divider-default-color: rgb(230, 230, 230);
    --error-background-color: rgb(215, 61, 9);
    --error-text-color: rgb(255, 255, 255);
    --fdic-background-color: rgb(255, 255, 255);
    --fdic-text-mode: Dark;
    --footer-background-color: rgb(255, 255, 255);
    --footer-link-text-color: rgb(0, 84, 155);
    --footer-text-color: rgb(98, 110, 122);
    --hero-empty-card-color: rgba(0, 0, 0, 0.15);
    --hero-gradient-colors: linear-gradient(rgba(0, 173, 231, 0.8), rgba(0, 173, 231, 0.7), rgba(0, 173, 231, 0.75));
    --hero-status-bar-mode: Light;
    --hero-text-color: rgb(0, 0, 0);
    --indicator-background-color: rgb(215, 61, 9);
    --indicator-text-color: rgb(255, 255, 255);
    --inline-icon-background-color: rgba(255, 255, 255, 0);
    --inline-icon-color: rgb(0, 84, 155);
    --link-button-focused-color: rgba(0, 84, 155, 0.1);
    --link-button-pressed-color: rgba(0, 84, 155, 0.2);
    --link-button-text-color: rgb(0, 84, 155);
    --link-button-text-disabled-color: rgba(0, 84, 155, 0.3);
    --link-button-text-focused-color: rgb(0, 84, 155);
    --link-button-text-pressed-color: rgb(0, 84, 155);
    --menu-background-color: rgb(255, 255, 255);
    --menu-divider-color: rgb(230, 230, 230);
    --menu-icon-background-color: rgba(255, 255, 255, 0);
    --menu-icon-background-disabled-color: rgba(255, 255, 255, 0);
    --menu-icon-background-pressed-color: rgba(255, 255, 255, 0);
    --menu-icon-background-selected-color: rgba(255, 255, 255, 0);
    --menu-icon-color: rgb(0, 84, 155);
    --menu-icon-disabled-color: rgba(0, 84, 155, 0.3);
    --menu-icon-pressed-color: rgb(0, 84, 155);
    --menu-icon-selected-color: rgb(217, 43, 28);
    --menu-item-color: rgba(255, 255, 255, 0);
    --menu-item-disabled-color: rgba(255, 255, 255, 0);
    --menu-item-pressed-color: rgba(7, 21, 35, 0.08);
    --menu-item-selected-accent-color: rgb(217, 43, 28);
    --menu-item-selected-color: rgba(0, 84, 155, 0.1);
    --menu-text-color: rgb(7, 21, 35);
    --menu-text-disabled-color: rgba(7, 21, 35, 0.3);
    --menu-text-pressed-color: rgb(7, 21, 35);
    --menu-text-selected-color: rgb(7, 21, 35);
    --navigation-bar-button-color: rgb(255, 255, 255);
    --navigation-bar-color: rgb(0, 73, 133);
    --navigation-bar-title-color: rgb(255, 255, 255);
    --pin-dot-color: rgb(0, 84, 155);
    --primary-button-color: rgb(217, 43, 28);
    --primary-button-disabled-color: rgba(0, 84, 155, 0.3);
    --primary-button-focused-color: rgb(0, 101, 184);
    --primary-button-pressed-color: rgb(0, 118, 214);
    --primary-button-text-color: rgb(255, 255, 255);
    --primary-button-text-disabled-color: rgba(255, 255, 255, 0.5);
    --primary-button-text-focused-color: rgb(255, 255, 255);
    --primary-button-text-pressed-color: rgb(255, 255, 255);
    --primary-content-background-color: rgb(255, 255, 255);
    --primary-theme-background-color: rgb(0, 84, 155);
    --primary-theme-text-color: rgb(255, 255, 255);
    --secondary-content-background-color: rgb(238, 241, 245);
    --secondary-content-background-hover-color: rgb(222, 228, 236);
    --secondary-page-background-color: rgb(227, 231, 237);
    --secondary-theme-background-color: rgb(1, 53, 99);
    --secondary-theme-text-color: rgb(255, 255, 255);
    --status-bar-action-mode-color: rgb(1, 53, 99);
    --status-bar-action-mode: Light;
    --status-bar-color: rgb(0, 73, 133);
    --status-bar-mode: Light;
    --status-bar-primary-background-mode: Dark;
    --toast-background-color: rgb(62, 69, 77);
    --toast-text-color: rgb(255, 255, 255);
    --toggle-switch-active-color: rgb(59, 135, 18);
    --toolbar-action-mode-button-color: rgb(255, 255, 255);
    --toolbar-action-mode-color: rgb(1, 53, 99);
    --toolbar-action-mode-title-color: rgb(255, 255, 255);
    --toolbar-button-color: rgb(255, 255, 255);
    --toolbar-color: rgb(0, 73, 133);
    --toolbar-title-color: rgb(255, 255, 255);
}